@font-face {
    font-family: "ALSSchlangesans";
    src: url("../fonts/ALSSchlangesans.eot");
    src: url("../fonts/ALSSchlangesans.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ALSSchlangesans.woff2") format("woff"),
    url("../fonts/ALSSchlangesans.ttf") format("truetype"),
    url("../fonts/ALSSchlangesans.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ALSSchlangesans-Bold";
    src: url("../fonts/ALSSchlangesans-Bold.eot");
    src: url("../fonts/ALSSchlangesans-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ALSSchlangesans-Bold.woff2") format("woff"),
    url("../fonts/ALSSchlangesans-Bold.ttf") format("truetype"),
    url("../fonts/ALSSchlangesans-Bold.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ALSSchlangesans-Black";
    src: url("../fonts/ALSSchlangesans-Black.eot");
    src: url("../fonts/ALSSchlangesans-Black.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ALSSchlangesans-Black.woff2") format("woff"),
    url("../fonts/ALSSchlangesans-Black.ttf") format("truetype"),
    url("../fonts/ALSSchlangesans-Black.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ALSSchlangesans-Light";
    src: url("../fonts/ALSSchlangesans-Light.eot");
    src: url("../fonts/ALSSchlangesans-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ALSSchlangesans-Light.woff2") format("woff"),
    url("../fonts/ALSSchlangesans-Light.ttf") format("truetype"),
    url("../fonts/ALSSchlangesans-Light.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ALSSchlangesans-Thin";
    src: url("../fonts/ALSSchlangesans-Thin.eot");
    src: url("../fonts/ALSSchlangesans-Thin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ALSSchlangesans-Thin.woff2") format("woff"),
    url("../fonts/ALSSchlangesans-Thin.ttf") format("truetype"),
    url("../fonts/ALSSchlangesans-Thin.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: url("../fonts/Ubuntu-Medium.eot");
    src: url("../fonts/Ubuntu-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu-Medium.woff2") format("woff"),
    url("../fonts/Ubuntu-Medium.ttf") format("truetype"),
    url("../fonts/Ubuntu-Medium.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../fonts/Ubuntu-Regular.eot");
    src: url("../fonts/Ubuntu-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu-Regular.woff2") format("woff"),
    url("../fonts/Ubuntu-Regular.ttf") format("truetype"),
    url("../fonts/Ubuntu-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Ubuntu-Light";
    src: url("../fonts/Ubuntu-Light.eot");
    src: url("../fonts/Ubuntu-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu-Light.woff2") format("woff"),
    url("../fonts/Ubuntu-Light.ttf") format("truetype"),
    url("../fonts/Ubuntu-Light.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../fonts/Ubuntu-Bold.eot");
    src: url("../fonts/Ubuntu-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Ubuntu-Bold.woff2") format("woff"),
    url("../fonts/Ubuntu-Bold.ttf") format("truetype"),
    url("../fonts/Ubuntu-Bold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BebasNeueBold";
    src: url("../fonts/BebasNeueBold.eot");
    src: url("../fonts/BebasNeueBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BebasNeueBold.woff2") format("woff"),
    url("../fonts/BebasNeueBold.ttf") format("truetype"),
    url("../fonts/BebasNeueBold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GUERRILLA-Normal";
    src: url("../fonts/GUERRILLA-Normal.eot");
    src: url("../fonts/GUERRILLA-Normal.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GUERRILLA-Normal.woff2") format("woff"),
    url("../fonts/GUERRILLA-Normal.ttf") format("truetype"),
    url("../fonts/GUERRILLA-Normal.otf");
    font-style: normal;
    font-weight: normal;
}